<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <style>
        th {
            padding: 5px;
        }
    </style>
</head>
<body>
    
    <div id="func">
        <div id="exemplo">
            <table border="2">
                <tr>
                    <th>Nome</th>
                    <th>telefone</th>
                    <th>email</th>
                    <th>estado civil</th>
                    <th>salário</th>
                </tr>
                    <%documentos.forEach(item => {%>
                    <tr>
                        <td><%= item.nome %></td>
                        <td><%= item.telefone %></td>
                        <td><%= item.email %></td>
                        <td><%= item.estadoCivil %></td>
                        <td><%= item.salario %></td>
                    </tr>
                    <%})%>
                
            </table>
        </div>
    </div>

    
    <script
    src="https://code.jquery.com/jquery-3.6.0.slim.js"
    integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY="
    crossorigin="anonymous"></script>
    <script>
        
    </script>
</body>
</html>

